.wrap {
  margin: auto;
  min-width: 320px;
  max-width: 380px;
}
.menu {
  display: flex;
  justify-content: center;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  color: #333;
}
.link {
  color: #333;
  text-decoration: none;
}
.content {
  padding: 15px;
  position: relative;
}
body {
  background: #F5F5F5;
  padding: 0;
  margin: 0;
}
.logo {
  width: 100px;
  height: 28px;
  position: absolute;
  right: 10px;
}