.title {
  font-size: 30px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  color: #ccc;
  margin: 10px 0;
}

.img {
  height: 60px;
  margin-right: 10px;
}

.icons {
  display: flex;
  justify-content: center;
}